PUBLIC_URL=http://localhost:8080
MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/ludo?retryWrites=true&w=majority
DEV_LOGIN=1
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# FACEBOOK_APP_ID=
# FACEBOOK_APP_SECRET=
